html {
  font-size: 32px;
  text-align: center;
  font-family: 'Abel';
  background-color: #7683D2;
}

h1 {
  margin: 0px;
}

input {
  margin-top: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: thin solid #212121;
  padding: 2px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 0px;
  font-size: 20px;
}

a {
  margin-right: 6px;
  text-decoration: underline;
  color: #f2f2f2;
}

button {
  position: absolute;
      
  font-weight: 600;
  border-radius: 5px;
  border: thin solid #212121;
}

#overlay {
  position: absolute;
  overflow-y: scroll;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  color: white;
  text-decoration: none;
  border: 2px solid grey;
  background-color: rgba(33, 33, 33, 0.9);
}

#todo-prompt {
  width: 560px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: thin solid #212121;
  padding: 2px;
  resize: none;
  overflow: hidden;
}

#todo-text {
  position: absolute;
  color: rgba(33, 33, 33, 0.9);
  left: 5px;
}

#set-todo-button, #import-todo-button {
  position: static;
  margin-top: 5px;
}

#get-todo-button {
  left: 5px;
  bottom: 5px;
  font-weight: 600;
  border-radius: 5px;
  border: thin solid #212121;
}
.otherlinks {
  text-decoration: none;
  color: #fff;
}
.otherlinks:hover {
  text-decoration: underline;
}